# Binaries
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Static and dynamic libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Debug files
*.pch
*.pdb
*.idb

# Compiled
*.class

# Build directories
/build/
/bin/
/debug/
/release/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.make
*.ninja
*.ninja_deps
*.ninja_log

# IDE specific
# Visual Studio Code
.vscode/
*.code-workspace

# CLion
.idea/

# Xcode
*.xcworkspace
*.xcodeproj
*.xcuserdata/

# Other system files
.DS_Store
Thumbs.db
